<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    </head>
    <body>
        <h3 style='color: gray;'>2019 Amazon Rainforest Wildfires:</h3>
        <img src='https://miro.medium.com/max/4576/1*REEFV8cxofjHLQFS4ZZzjw.png' alt='Amazon Fire' style='width: 350px; height: 210px;'>
        <h4>Description:</h4>
        <p>The 2019 Amazon Rainforest Wildfires was a period during which a surge in fires occured in the Amazon rainforest.
        Wildfires have been used with slash-and-burn methods to clear forests for inudstrial use, but the icnreased rates drew
        international attention. The Amazon rainforest is the largest carbon dioxide sink, which is the cause behind the worry.
        There were over <b>80,000 fires</b> in Brazil, a <b>77%</b> year-to-year increase, and over <b>906 thousand hectares</b> were lost to the fires.</p>
    
        <h4>Effects:</h4>
        <p><b>Biodiversity: </b> Many different animals and plant species were significantly affected by these wildfires. Over a million
             new species were listed as endangered due to these fires. However, the most significant aspect is the burning of more trees. 
            Trees are one of the most effective carbon absorbers on Earth. Not only is this fire destroying vegetation and the environment, 
        but it is releasing the carbon that has been stored in these trees for hundreds or thousands of years.</p>

        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Amazon_fire_satellite_image.png/1024px-Amazon_fire_satellite_image.png' alt='Picture depicting location of fires' style='width: 350px; height: 210px'>

        <p><b>Emissions: </b>Another effect were the carbon dioxide emissions from this event. It is estimated that the fires could have produced up to
        <b>140 million metric tons</b> of carbon dioxide. This is equivalent to <b>30 million cars.</b> So, this is one of the most significant
    environmental events in recent history, as it has had one of the most direct impacts on climate change. Its effect has been compounded by the poor handling of the situation
by the Brazilian government, who hasn't ensured anything to avoid similar incidents in the future</p>
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Carbon_monoxide_from_Amazon_fires.gif/330px-Carbon_monoxide_from_Amazon_fires.gif' alt='Gif showing increase in Carbon Monoxide' style='width: 350px; height: 210px;'>    
    </body>
</html>