<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    </head>
    <body>
        <h3 style='color: gray;'>Chernobyl Nuclear Disaster:</h3>
        <img src='https://ca-times.brightspotcdn.com/dims4/default/4a0fc3d/2147483647/strip/true/crop/1810x1018+0+0/resize/840x472!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fcd%2F68%2F90d7483dd5739249937653ff44dd%2Fla-1555089214-yatzjfbvxd-snap-image' alt='Chernobyl Disaster' style='height: 210px;'>
        <h4>Description:</h4>
        <p>The Chernobyl nuclear disaster was a nuclear accident that occured on Apil 26, 1986 in the Chernobyl Nuclear Power Plant. This accident is considered
            the worst nuclear disaster in history, and is only one of two disasters that is rated a 7 on the International Nuclear Event Scale (maximum severity). This event
        resulted in the evacuation of over 70,000 people. The explosion released a significant amount of radioactive contamination into the surrounding areas, and a reactor core fire 
    released a similar amount dueing a nine-day period before beig contained. Overall, it cost around 18 billion Soviet rubles, or US$68 billion, and the clean-up of the radiation will be completed
in 2065, 79 years after the disaster.</p>
    
        <h4>Effects:</h4>
        <p><b>Radioactive Substances: </b>It has been estimated that the radioactive material released from Chernobyl was more than 400 times more than the radioactive material released by the atomic bombings
        of Hiroshima and Nagasaki. In addition, over 100,000 square kilometers were affected by this fallout, with contamination being detected all over Europe. Fortunately, the Soviet Union took action to mitigate the effects of the radioactive particles
    and material released from the explosion. However, the most significant effect was the cntamination of the Pripyat River, which supplied water for 2.4 million residents. Fish were also contaminated by this radioactive fallout, once again causing problems with the 
residents. </p>

        <img src='https://i.pinimg.com/originals/ef/b2/b2/efb2b21b116aa6ff7e9ce74195afc628.jpg' alt='Map depicting radiation from Chernobyl' style='width: 350px; height: 210px'>

        <p><b>Environmental Impact: </b>Four sqaure kilometers of pine forest adjacent to the reactor immediately died and turned reddish-brown, earning the name "Red Forest" (The picture below depicts this). Many animals were directly affected by the outgoing 
        radiation, with a group of horses dying due to destroyed thyroid glands. Due to the characteristics of radiation, many animals were born with health defects such as missing or extra limbs, deformed bones, and more. It was recorded on farms in Ukraine that 
    about 350 animals were born with such defects, with only 3 births occuring in the previous 5 years. In terms of people, about 237 suffered from acute radiation sickness, however, over 3.5 million Ukrainians in 2000 were radiation sufferers.</p>
        <img src='https://upload.wikimedia.org/wikipedia/commons/8/83/Red_Forest_Hill.jpg' alt='Photo showing pine forest that was affected by disaster' style='width: 350px; height: 350px;'>    
    </body>
</html>