<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    </head>
    <body>
        <h3 style='color: gray;'>Deepwater Horizon Oil Spill:</h3>
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Deepwater_Horizon_offshore_drilling_unit_on_fire_2010.jpg/360px-Deepwater_Horizon_offshore_drilling_unit_on_fire_2010.jpg' alt='Oil Explosion' style='height: 210px;'>
        <h4>Description:</h4>
        <p>The Deepwater Horizon Oil Spill was a an explosion and fire on the Deepwater Horizon Drilling Unit on April 20, 2010. This event resulted in the deaths of 11 workers and 17 other injured. However, this is considered the largest
            accidental oil spill in the world and the largest environmental disaster in U.S. history. This explosion was unexpected and occured in the Gulf of Mexico, whose currents further worsened the oil's effects. However, there was more bad news after the initial explosion. 
            The Coat Guard soon discovered that oil was leaking from the drilling unit at the rate of 8,000 barrels per day. </p>
    
        <h4>Effects:</h4>
        <p><b>Marine Life: </b>The oil spill affected much of the noerthern section of the Gulf of Mexico. The oil spread to depths betwee 1,100 and 1,300 meters, and a total of 134 million gallons of oil 
        were spilled in 87 days. Not only have scientists concluded that thousands of marine animals were killed, but their habitats were permanently damaged by this as well. It is estimated that four of the five habitats for the five species
    of turtles in the GUlf of Mexico were exposed to the oil spill. Being exposed to this oil caused a wide range of symptoms, from difficulty to swim through the water to reproductive failure and 
    organ damage. This was also the longest marine mammal mortality event ever recorded in the Gulf of Mexico.</p>

        <img src='https://oceanservice.noaa.gov/news/apr17/2-turtle-small.jpg' alt='Turtle covered in oil' style='width: 350px; height: 210px'>

        <p><b>Methane and Long-Term Impacts: </b>The oil that has spilled was 40% methane by weight. TO put this in perspective, typical oil deposits are 5% methan by weight. Methane is particularly dangerous, as it
        create dead zones and suffocate all marine life. Also, this methane is dissolving underneath the surface, making the water more acidic and damaging coral and other organisms that help with clean water. This oil can then be released into the
    air, contributing to climate change and the destruction of the ozone layer. It was determined that the oil spill killed a coral community that was the size of half a football field.</p>
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Deepwater_Horizon_oil_spill_-_May_24%2C_2010_-_with_locator.jpg/330px-Deepwater_Horizon_oil_spill_-_May_24%2C_2010_-_with_locator.jpg' alt='Satellite image of oil' style='width: 350px; height: 350px;'>    
    </body>
</html>