<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    </head>
    <body>
        <h3 style='color: gray;'>Fukushima Nuclear Explosion</h3>
        <img src='https://upload.wikimedia.org/wikipedia/commons/7/7d/Fukushima_I_by_Digital_Globe.jpg' alt='Fukushima' style='height: 210px; width: 350px;'>
        <h4>Description:</h4>
        <p>The Fukushima Nuclear Explosion was a nuclear accident that occured on March 11, 2011. This event occured due to the Tohoku earthquake and tsunami that occurred the same day
            When they tried to shut down the reactors, a malfunction occurred and resulted in generators continuing to run during the natural disaster. This led to three separate nuclear
            meltdowns, three hydrogen explosions, and a significant release of radioactive contamination. An evacuation zone with a radius of 20 km was declared, which allowed there to be minimum
            health affects on people. This explosion resulted in lots of physical damage to the structures around it, causing even more explosions in the process.
        </p>
    
        <h4>Effects:</h4>
        <p><b>Contamination: </b>Due to the event, the main water source was contaminated. This is due to the fact that groundwater mixed with the radioactive material. Around 1.17 million cubic meters of this contaminated water was stored by the plant.
         In addition, the radioactive material eventually started leaking into the Pacific Ocean. Although the situation was stablized, the material could not be stopped from entering the ocean, resulting in contamination fo marine life. 
        One thing to note is that the contamination was nowhere near the contamination from Chernobyl, as this was contained and controlled much earlier. There was also more contamination in the air and there were radioactive deposits present 
    in the environment. Overall, the main effect of this disaster was radioactive contamination, as any effects were prevented with godo handling of the situation. </p>

        <img src='https://www.irsn.fr/EN/publications/thematic-safety/fukushima/fukushima-2016/PublishingImages/IRSN-Fukushima-2016_dose-rates-mapping-sm.jpg' alt='Fukushima contamination' style='width: 350px; height: 210px'>  
        <center><p>Diagrams depicting dose rates in outside air.</p></center>
        
    </body>
</html>